<nav>
  <div class="logo">
    <img routerLink="/home" src="logo.png" style="cursor:pointer" />
    <h1 routerLink="/home" style="cursor: pointer;">UserEasy</h1>
  </div>
  <div class="menu">
    <ul>
      <li routerLink="/home" routerLinkActive="active">Home</li>
      <li routerLink="/search" routerLinkActive="active">Search</li>
    </ul>
  </div>
</nav>
<!-- for routing : enables the routing through the /home, /search.. Shows results based on routes.-->
<router-outlet></router-outlet>

<div class="container">
  <div class="card"  (click)="switchPopUp()">
  <div class="infos">
      <h4>Add new user</h4>
  </div>  
     <div class="avatar">
      <img src="logo.png" alt="">
     </div>
  </div>
</div>

<div class="formContainer" *ngIf="userDisplay" (click)="this.userDisplay = !userDisplay">
  <div (click)="switchPopUp()" class="closeButton">
    <H2>X</H2>
  </div>
  <div class="newUserForm" >
    <label for="id">ID: </label>
    <input type="text" name="id" id="id" [(ngModel)]="newUser.id">
    <label for="email">Email: </label>
    <input type="text" name="email" id="email" [(ngModel)]="newUser.email">
    <label for="first_name">First name: </label>
    <input type="text" name="first_name" id="first_name" [(ngModel)]="newUser.first_name">
    <label for="last_name">Last Name: </label>
    <input type="text" name="last_name" id="last_name" [(ngModel)]="newUser.last_name">
    <button (click)="addUser()">Add User</button>
  </div>
</div>

